#content {
    grid-area: 3 / 2 / 4 / 3;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content > div {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.homeContainer {
    width: 100%;
    height: auto;
    background-color: hsla(29, 51%, 10%, 0.5);
}

.homeContainer p:first-of-type {
   font-size: 24px;
   -webkit-text-stroke: 1px #A9846A;
   font-weight: bold;
   color: #ffffff;
}

.homeContainer img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.homeContainer p:last-of-type {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    -webkit-text-stroke: 1px #A9846A;
    color: #ffffff;
}

.contactContainer {
    margin-top: 100px;
    align-self: start;
    width: 100%;
    height: auto;
    background-color: hsla(29, 51%, 10%, 0.5);
}

.contactContainer p:first-of-type,
.contactContainer p:nth-of-type(2),
.contactContainer p:last-of-type {
   font-size: 20px;
   -webkit-text-stroke: 1px #A9846A;
   font-weight: bold;
   color: #ffffff;
}

.contactContainer p:first-of-type {
    font-size: 30px;
}

#content > .menuContainer {
    gap: 20px;
}

.menuContainer {
    width: 100%;
    height: auto;
    background-color: hsla(29, 51%, 10%, 0.5);
}

.menuContainer > p {
    font-size: 30px;
    -webkit-text-stroke: 1px #A9846A;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

ul {
    width: 100%;
    height: auto;
    margin-left: 10px;
}

li {
    list-style-type: circle;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 10px;
}

li:first-of-type {
    -webkit-text-stroke: 1px #A9846A;
    list-style-type: none;
    font-size: 25px;
}